.explorer {
  max-width: 300px;
}
.folder {
  padding: 2px 5px;
  background-color: rgb(233, 229, 229);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.nestest-folder {
  margin-left: 20px;
}

.action {
  margin: 3px 4px 0px 2px;
}
